@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/reset.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/960.css);
@import url(http://cs.nccu.edu.tw/~jonesyu/960gs/code/css/text.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);


html{
	background:url(http://subtlepatterns.com/patterns/tweed.png);
}


#pagebtn{
	text-align: center;
}
footer{
	text-align: center;
}
#contain{
	background: url(http://subtlepatterns.com/patterns/binding_dark.png) center 0;
}

#main-menu a{
		text-decoration: none;
		color:white;
}
#main-menu li{
	display:inline;
	float:left;
	//font-size: 28px;
	font-family: '微軟正黑體';
	margin-right: 10px;
	padding:5px 20px;
	margin-left: 0px;
	margin-bottom: 10px;
	font-size: 24px;
	text-decoration: none;
	border: solid 2px #f55c5c;
	border-radius: 6px;
//margin-left: 10px;
}
#main-menu li:hover {
background: rgba(255,255,255,0.3);
}
#worth{
	background: url(http://subtlepatterns.com/patterns/binding_dark.png);
}

#social,#gov,#people,#else{
	background: url(http://subtlepatterns.com/patterns/binding_dark.png);
}
#main-menu ul{
	margin-left: 20px;
	padding-top: 0px;
}

header{
   margin-top: 35px;
   margin-left:-45px;
   width:1050px;
   position:absolute;
   height:120px;
   color: #ffffff;
   display:inline;
   background: url(http://subtlepatterns.com/patterns/dark_stripes.png);
   -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
   box-shadow: 0 8px 6px -6px black;
   }
.logo_img{
	margin-top: 3px;
	position: absolute;
	display:  block;
	margin-left:385px;
    z-index: 9999;
}
#top_botton{
   font-size:1.2em;
   font-family: '微軟正黑體';
   color:#c9c9c9;
   position: relative;
   float: right;
   margin-top:50px;
   text-shadow: 0px 2px 1px #3F372B;
   margin-right: 30px;
}
table a{
	color:#ffd409;
	font-family: '微軟正黑體';
	text-decoration: none;
}
#contain{
	padding-top:200px;
}
table{
	margin-left: 20px;
	background: url(http://subtlepatterns.com/patterns/dark_stripes.png);
	-webkit-box-shadow: 8px 8px 6px -6px black;
   -moz-box-shadow: 8px 8px 6px -6px black;
   box-shadow: 8px 8px 6px -6px black;
	width:900px;
}
table td{
	color:white;
	font-family: '微軟正黑體';
	padding-top:12px;
	padding-bottom:1.5em;
	//border-bottom: 1px solid white; 
}
td h2 {
	padding-bottom: 1px;
	margin-right: 30px;
	border-bottom: 1px solid white; 
}

table p{
	padding-right: 50px;
	padding-left:20px;
}
#pic{
	margin-right:0px;
}
table td img{
	margin-left: 10px;
	margin-top:10px;
	padding: 3px;
	background-color: rgb(254, 254, 254);
    border:1px solid gray;
}

.pagebtnA a{
	font-family: '微軟正黑體';
	font-size: 18px;
	text-decoration: none;
	background:url(http://subtlepatterns.com/patterns/dark_stripes.png);
	color: #c9c9c9;
	padding :5px;
	margin-right:5px;
	border: solid 2px #f55c5c;
	border-radius: 6px;
}
.pagebtnA :hover{
background: rgba(255,255,255,0.3);
}
.pagebtnA{
	color:#ffd409;
	padding-bottom:20px;
}
.newspic{
	width:280px;
}
.news{
	width:580px;
}
footer{
	padding-top:10px;
	display: table;
	background: url(http://subtlepatterns.com/patterns/binding_dark.png);
	color: #ffffff;
	width: 940px;
	margin-left: 10px;
	height: 4em;
	bottom: -1px;
	font: 10px/35px 'Ubuntu', serif;
	text-align: center;
	border-top: 1px solid white;
}

